<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kotahi">

        <!-- SamsungBasicInteraction -->
        <meta-data
            android:name="SamsungBasicInteraction"
            android:value="SEP10" />

        <!-- Samsung Icon flags -->
        <meta-data
            android:name="com.samsung.android.icon_container.has_icon_container"
            android:value="true" />
        <meta-data
            android:name="com.samsung.android.icon_container.feature_appicon"
            android:value="ADAPTIVEICON_SHADOW" />

        <!-- Samsung Color Theme -->
        <meta-data
            android:name="theming-meta"
            android:value="NOT_SUPPORT_COLORTHEME" />


        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Disable Samsung PopOver -->
            <meta-data
                android:name="com.samsung.android.supports_pop_over"
                android:value="false" />

            <!-- Samsung Icon Color Theme -->
            <meta-data
                android:name="com.sec.android.app.launcher.icon_theme"
                android:value="themeColor" />

        </activity>

        <activity
            android:name=".activity.oobe.OOBEActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@style/Theme.Kotahi.OOBEActivity"
            android:windowSoftInputMode="adjustResize" />

    </application>

    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

</manifest>